<div class="row">
	<h2 class="text-center">GASTOS ADMINISTRATIVOS</h2>
	<div id='GAtable'>
		<div class="row">
			<div class="col-2">Gasto Administrativo</div>
			<div class="col-2">Monto</div>
			<div class="col-1">Mes</div>
			<div class="col-2">Año</div>
			<div class="col-1"></div>
			<div class="col-1"></div>
		</div>
	</div>
</div>
<div class="row">
	<form id="newGA" class="row g-3 m-5">
		<div class="col-4">
			<label for="concept" class="form-label">Concepto</label>
			<input type="text" name="concept" class="form-control" placeholder="Gasto Administrativo">
		</div>
		<div class="col-2">
			<label for="amount" class="form-label">Monto</label>
			<input type="text" name="amount" class="form-control" placeholder="15000">
		</div>
		<div class="col-2">
			<label for="month" class="form-label">Mes</label>
			<input type="text" name="month" class="form-control" placeholder="1-12">
		</div>
		<div class="col-2">
			<label for="year" class="form-label">Año</label>
			<input type="text" name="year" class="form-control" placeholder="2021">
		</div>
		<div class="col-2">

		</div>
		<div class="col-12">
			<a id='addGA' class='btn btn-outline-success btn-lg'>Agregar Gasto Administrativo</a>
		</div>
	</form>
</div>
