<div class="row">
	<h2 class="text-center">Resumen Financiero</h2>
	<div id='RFtable'>
		<div class="row">
			<div class="col-3">Ventas</div>
			<div class="col-3" id="ventas"></div>
		</div>
		<div class="row">
			<div class="col-3">Costos</div>
			<div class="col-3" id="costos"></div>
		</div>
		<div class="row">
			<div class="col-3">Margen</div>
			<div class="col-3" id="margen"></div>
		</div>
		<div class="row">
			<div class="col-3">Margen en %</div>
			<div class="col-3" id="margenP"></div>
		</div>
		<div class="row"><br><br>
		</div>
	</div>
</div>
